@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html, body, #root {
	height: 100vh;
	background-color: var(--red);
}

html {
	font-family: 'Noto Sans JP', sans-serif;
}

body {
	margin: 0;
}

h2 {
	font-weight: bold;
	font-size: var(--font-size-md);
}

#root {
	display: flex;
	flex-direction: column;
}

main {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	width: 100%;
	background-color: var(--bg);
	align-items: center;
  padding: 2rem 0rem;
	margin-top: var(--navbar-height);
}

p a {
	color: var(--red);
}
p a:hover {
	color: var(--red-dark);
}
p a:visited {
	color: purple;
}

footer {
	width: 100%;
	background-color: var(--red);
	height: var(--navbar-height);
	min-height: var(--navbar-height);
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 2;
	align-self: flex-end;
}

hr {
	border: 1px solid var(--red);
	width: 100%;
	margin: 0;
}

:root {
	--width: 90%;
	--max-width: 50rem;
	--media-tablet: 768px;
	--navbar-height: 5rem;
	/* Radius */
	--radius: 8px;
	--radius-lg: 16px;
	/* Colors */
	--red: #8a2b06;
	--red-dark: #641e03;
	--bg: rgb(230,230,230);
	--text-light: rgb(255,255,255);
	--text-dark: #363636;
	--text-disabled: #7b7b7b;
	--success: #377d3b;
	--btn-bg: #4d1601;
	--btn-bg-hover: #2c0d00;
	--disabled: rgb(221, 221, 221);
	/* Shadows */
	--box-shadow-lg: 0 0 8px rgba(0, 0, 0, 0.35);
	--box-shadow-sm: 0 0 4px rgba(0, 0, 0, 0.35);
	/* Fonts */
	--font-size-lg: 2rem;
	--font-size-md: 1.25rem;
	--font-size-sm: 1rem;
}