.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.75);
  animation: fade-in 400ms ease-out forwards;
}

.modal {
  position: fixed;
  top: 20vh;
  left: 5%;
  width: 90%;
  background-color: white;
  padding: 1rem;
  border-radius: var(--radius);
  box-shadow: var(--box-shadow-sm);
  z-index: 30;
  animation: scale-in 100ms ease-out forwards;
}

.title {
  margin-top: 3px;
}

.titleDivider {
  border: none;
  border-bottom: 2px solid var(--red);
  margin: 0;
}

@media (min-width: 768px) {
  .modal {
    width: 40rem;
    left: calc(50% - 20rem);
  }
}

@keyframes scale-in {
  from {
    opacity: 0;
    /* transform: translateY(-3rem); */
    transform: scale(0);
  }
  to {
    opacity: 1;
    /* transform: translateY(0); */
    transform: scale(1);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}